Q1 Write a Python program to determine the largest among three numbers entered by the user.

In [ ]:
input1 = int(input("Enter the first number :"))
input2 = int(input("Enter the second number :"))
input3 = int(input("Enter the third number :"))

# largest_number = 0
if input1 > input2 and input1>input3:
  print(input1, " is a largest.")
elif input2 >input3 and input2 >input1:
  print(input2," is a largest number.")
else:
  print(input3," is the largest number.")

Enter the first number :9
Enter the second number :3
Enter the third number :5
9  is a largest.

Question 2:

Write a Python program to check if a given year is a leap year.

In [ ]:
year = int(input("enter the year :"))

if (year%4==0 and year%100!=0) or year%400==0:
    print(year , "is leap year.")
else:
    print(year,"is not leap year.")

enter the year :2024
2024 is leap year.

Question 3:

Write a Python program to print the following pattern:

In [ ]:
n = 5
for i in range(n+1):
  for j in range (i):
    print(i, end="")
  print()

1
22
333
4444
55555

In [ ]:
# 4
n = 5
for i in range(n+1):
  for j in range(i):
    print("*",end='')
  print()

*
**
***
****
*****

In [ ]:
# 5
n = 5

for i in range(n+1):
  for j in range(n-i):
    print(" ",end='')
  for j in range(i):
    print("*",end='')
  print()

    *
   **
  ***
 ****
*****

In [89]:
# 6
n = 100
for num in range(1,n+1):
  if num%3==0 and num%5==0:
    print(num, "FizzBuzz")
  elif num%3==0:
    print(num, "Fizz")
  elif num%5==0:
    print(num, "Buzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 FizzBuzz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 FizzBuzz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 FizzBuzz
93 Fizz
95 Buzz
96 Fizz
99 Fizz
100 Buzz

In [79]:
# 7
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False

    return True

def sum_of_primes(n):
    prime_sum = 0
    for num in range(2, n + 1):
        if is_prime(num):
            print(num, end='+')
            prime_sum += num
    print()
    return prime_sum

# Example usage:
n = int(input("Enter a number: "))
print("Sum of all prime numbers up to", n, "is:", sum_of_primes(n))

Enter a number: 9
2+3+5+7+
Sum of all prime numbers up to 9 is: 17

In [ ]:
# Question 8:
# fibonacci series

def fibonacci(n, first=0, second=1):
  for i in range(n):
    if n ==0:
      return n
    if n ==1:
      return n
  else:
    for j in range(2,n):
        third = first + second
        first = second
        second = third
  return third
print(fibonacci(9) )

21

In [ ]:
# 9
n =5
for i in range(n+1):
  for j in range(n-i):
    print(" ", end = "")
  for j in range(i):
    print("*", end='')
  for j in range(i-1):
    print("*",end="")
  print("")

    *
   ***
  *****
 *******
*********

In [71]:
# 10

n =5
for i in range(n+1):
  for j in range(n-i):
    print(" ", end = "")
  for j in range(i):
    print(chr(ord('A')+i-1), end='')
  for j in range(i-1):
    print(chr(ord('A')+i-1),end="")
  print("")

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE